@font-face {
	font-family: 'Gotham-Medium';
	font-style: normal;
	font-weight: normal;
	src: local('Gotham-Medium'), url('fonts/Gotham-Medium.otf') format('opentype');
}

@font-face {
	font-family: 'VNF-Gotham Book';
	font-style: normal;
	font-weight: normal;
	src: local('VNF-Gotham Book'), url('fonts/VNF-Gotham Book.ttf') format('truetype');
}

@font-face {
	font-family: 'UTM Avo';
	font-style: normal;
	font-weight: normal;
	src: local('UTM Avo'), url('fonts/utm-avo.ttf') format('truetype');
}

@font-face {
	font-family: 'Proxima Nova';
	font-style: normal;
	font-weight: normal;
	src: local('Proxima Nova'), url('fonts/proximanova-regular-webfont.ttf') format('truetype');
}


body, h1, h2, h3, h4 {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
	color: #293742;
}

.btn-info-tag {
	color: #ffffff;
	background-color: #22a7f0;
	border-color: #22a7f0;
}

.my-nav-bar {
	background-color: #fafafa;
	box-shadow: 0 2px 2px rgba(0,0,0,.14);
	margin-bottom: 0px;
}

.landing-li {
	color: #000000 !important;
	font-weight: 700;
	font-family: 'PT Sans', sans-serif;
	letter-spacing: 0.5px;
	font-size: 1.1em;
}

.landing-collapse-button {
	background-color: #1a242f;
}

.landing-bg {
	background-image: url('images/bg.jpg');
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-position: 50% 30%;
	height: 130%;
}

.landing-search {
	border-width: 1px;
}

.landing-header-space {
	height: 35%;
}

.landing-header {
	font-size: 5.5em;
	color: #ffffff;
	text-shadow: 1px 2px 3px #000000;
	font-family: 'Gotham-Medium';
}

.landing-header-bg {
	position: absolute;
	background-color: black;
	z-index: 0;
	opacity: 0.3;
	height: 130%;
	width: 100%;
}

.landing-welcome {
	font-size: 3em;
	font-family: 'VNF-Gotham Book';
	font-weight: 700;
	color: #293742;
}

.landing-welcome-small {
	margin-top: 1em;
	font-size: 1.6em;
	font-family: 'Roboto';
	color: #000000;
	letter-spacing: 1px;
}

.landing-start-now {
	font-family: 'Open Sans';
	font-weight: 600;
	font-size: 2.2em;

	background-color: #ff9900;
	color: #ffffff;
}

.landing-divider {
	margin-top: 3em;
	border-top: 1.5px solid #ccc;
	width: 80%;
}

.feature-section {
	width: 100%;
	margin: auto;
}

.feature-header {
	font-family: 'Open Sans';
	font-size: 1.5em;
	font-weight: 600;
	color: #111;
}

.feature-icon {
	color: rgb(103,151,165);
	font-size: 5em;
}
.feature-paragraph {
	font-family: 'Open Sans';
	font-size: 1.2em;
	color: #606060;
	font-weight: 400;
}

.feature-highlight {
	font-weight: 600;
	color: #ff9900;
}

.landing-info {
}

.text-fb {
	color: #3b5998;
	font-weight: 700;
}
.img-center {
	margin: 0 auto;
}
.text-pink {
	color: #F62469;
}
.0-title {
	font-size: 0.9em;
}
.sort-text {
	font-size: 0.6em;
	text-align: right;
}
.rating-table td {
	padding-top: 0.2em;
}

.rating-table-smaller {
	font-size: 0.85em;
}
.rating-table-review {
	font-size: 0.8em;
}

.rating-table-review td {
	padding-top: 0.4em;
}

.rating-table-write td {
	padding-top: 0.4em;
}
#entity h3 {
	margin-top: 0;
	font-weight: 700;
}

#large-star .glyphicon {
	font-size: 1.6em;
}

.div-buffer {
	margin-top: 16px;
}
.entity-tag {
	margin-top: 10px;
}
#imaginary_container{
    /* Don't copy this */
}

.review-box h4 {
	margin-top: 0;
	font-weight: 700;
	font-size: 1.2em;
}

.review-box h5 {
	font-size: 1em;
	margin-top: 0.3em;
	margin-bottom: 0;
}
#feature h4 {
	margin-top: 0;
	font-weight: 700;
}

#feature {
	padding: 20px 0;
}
#feature .glyphicon {
	margin-right: 5px;
}
section {
	padding: 50px 0;
}
section.success {
	color: #fff;
	background: #18bc9c;
}

.no-padding-side {
	padding-left: 0 !important;
	padding-right: 0 !important;
}
.tag-button {
	margin-top:10px;
}
section p {
	font-size: 20px;
}
section h2 {
	margin: 0;
	margin-bottom: 20px;
	font-size: 3em;
	
	font-weight: 700;
	font-family: Montserrat, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.row-buffer {
	margin-top:40px;
}

.review-section-title {
	margin-top: 0;
}
.entity-buffer {
	margin-top: 6em;
}
.stylish-input-group .input-group-addon{
    background: white !important; 
}

.input-group-addon {
	border: 2px solid #ccc;
	border-bottom-right-radius: 5px;
	border-top-right-radius: 5px;
}
.stylish-input-group .form-control{
	border-right:0; 
	box-shadow:0 0 0; 

	border-color:#ccc;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}
.stylish-input-group button{
    border:0;
    background:transparent;
}

.btn-default-my {
	color: #333;
	background-color: #fff;
	border-color: #2c3e50;
}


.btn-smaller-border {
	border-width: 1px;
}

.btn-default-my:hover {
	color: #333;
};

.tag-btn {
	margin-right: 5px;
}

.clickable {
	cursor: pointer;
}

.well {
	padding: 0.5em;
}

.search-suggest-item {
	float: left;
	height: 32px;
	width: 32px;
	margin: 2px 6px 0 0;
}

.navbar-form > .form-group > .input-group > .form-control:focus {
	border-color: rgb(220, 228, 236);
}

.btn-pink {
	color: #FFFFFF;
	background-color: #F62459;
	border-color: #F62459;
}

.btn-pink:hover {
	border-right-color: #FFFFFF;
}

.btn-left-border {
	border-left-color: #FFFFFF;
}
.btn-left-border:hover {
	border-right-color: #F62459 !important ;
}

.btn-group-margin-right {
	margin-right: 10px;
}

.accordion-toggle {
	color: #2c3e50;	
}

.accordion-toggle:hover, .accordion-toggle:focus {
	color: #2c3e50;
	text-decoration: none;
}

.more-link {
	text-decoration: none;
	color: #2b6dad;
}

@media screen and (min-width: 320px) {
	.review-content {
		max-height: 13em;
	}
}

@media screen and (min-width: 600px) {
	.review-content {
		max-height: 25em;
	}
}

.edit-info {
	color: #999999;
	text-decoration: none;
}

.edit-info:hover {
	text-decoration: none;
}

.input-xs {
    height: 22px;
    padding: 5px 5px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}

.search-form {
	margin-top: 0.8em;
	box-shadow: none !important;
}
.search-bar {
	border: 0 !important;

}

.navbar-btn-left {
	margin-left: 15px;
}

@media screen and (min-width: 1025px) {
	.extra-margin-sm {
		margin-left: 3em;
	}
}

@media screen and (max-width: 480px) {
	.search-bar-ios {
		font-size: 16px;
	}
}