body, h1, h2, h3, h4 {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}


.rating-table-write td {
	padding-top: 0.4em;
}
#entity h3 {
	margin-top: 0;
	font-weight: 700;
}

#large-star .glyphicon {
	font-size: 1.6em;
}

.div-buffer {
	margin-top: 16px;
}
.entity-tag {
	margin-top: 10px;
}
#imaginary_container{
    /* Don't copy this */
}


section {
	padding: 50px 0;
}
section.success {
	color: #fff;
	background: #18bc9c;
}

.no-padding-side {
	padding-left: 0 !important;
	padding-right: 0 !important;
}
.tag-button {
	margin-top:10px;
}
section p {
	font-size: 20px;
}
section h2 {
	margin: 0;
	margin-bottom: 20px;
	font-size: 3em;
	
	font-weight: 700;
	font-family: Montserrat, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.row-buffer {
	margin-top:40px;
}

.entity-buffer {
	margin-top: 6em;
}
.stylish-input-group .input-group-addon{
    background: white !important; 
}

.input-group-addon {
	border: 2px solid #ccc;
	border-bottom-right-radius: 5px;
	border-top-right-radius: 5px;
}
.stylish-input-group .form-control{
	border-right:0; 
	box-shadow:0 0 0; 

	border-color:#ccc;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}
.stylish-input-group button{
    border:0;
    background:transparent;
}

.btn-smaller-border {
	border-width: 1px;
}

.tag-btn {
	margin-right: 7px;
	margin-top: 7px;
}

.btn-default-my {
	color: #333;
	background-color: #ffffff;
	border-color: #2c3e50;
}

.btn-default-my:hover {
	color: #333;
	background-color: #ffffff;
	border-color: #2c3e50;	
}
.btn-default-my.active {
	color: #ffffff;
	background-color: #217dbb;
	border-color: #2077b2;
}

.search-suggest-item {
	float: left;
	height: 32px;
	width: 32px;
	margin: 2px 6px 0 0;
}

.navbar-form > .form-group > .input-group > .form-control:focus {
	border-color: rgb(220, 228, 236);
}
