{% load star_range %}
{% load staticfiles %}
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="https://bootswatch.com/flatly/bootstrap.min.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
		<link rel="stylesheet" href="{% static "bootstrap-social.css" %}">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
		<script src="http://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
		<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="{% static "jquery-ui.css" %}">
		<link rel="stylesheet" href="{% static "my.css" %}">
		<link rel="stylesheet" href="{% static "style.css" %}">
		<link rel="stylesheet" href="{% static "social_sharing.css" %}">
		<script src="{% static "jquery-scrollto.js" %}"></script>
		<script src="{% static "bootbox.min.js" %}"></script>
		<script src="{% static "readmore.min.js" %}"></script>
		<script src="{% static "entity.js" %}"></script>
		<script>
			$(function () {
				$('.own-review').click(function() {
					$("#review{{own_review_id}}").ScrollTo();
				});
			});
		</script>
		<script>
		$(function() {
			//var names = [ "Nguyễn Khắc Tùng", "Trương Tuấn Dũng", "Tô Ngọc Vân", "Ngô Quý Nhâm", "Trần Thị Kiều Minh" ];
 			var all_entity_raw = {{all_entity|safe}};
			console.log(all_entity_raw);
			var all_entity = [];
			for (var i = 0; i < all_entity_raw.length; i++)
			{
				console.log(all_entity_raw[i]);
				all_entity.push(JSON.parse(all_entity_raw[i]));
			}
			var accentMap = {
				"á": "a", "ả": "a", "à": "a", "ạ": "a", "ã": "a", "ă" : "a", "â": "a",
				"ắ": "a", "ẳ": "a", "ằ": "a", "ặ": "a", "ẵ": "a",
				"ấ": "a", "ẩ": "a", "ầ": "a", "ậ": "a", "ẫ": "a",

				"é": "e", "ẻ": "e", "è": "e", "ẹ": "e", "ẽ": "e", "ê" : "e",
				"ế": "e", "ể": "e", "ề": "e", "ệ": "e", "ễ": "e",

				"í": "i", "ỉ": "i", "ì": "i", "ị": "i", "ĩ": "i",

				"ó": "o", "ỏ": "o", "ò": "o", "ọ": "o", "õ": "o", "ô": "o", "ơ": "o",
				"ố": "o", "ổ": "o", "ồ": "o", "ộ": "o", "ỗ": "o",
				"ớ": "o", "ở": "o", "ờ": "o", "ợ": "o", "ỡ": "o",

				"ú": "u", "ủ": "u", "ù": "u", "ụ": "u", "ũ": "u", "ư": "u",
				"ứ": "u", "ử": "u", "ừ": "u", "ự": "u", "ữ": "u",

				"ý": "y", "ỷ": "y", "ỳ": "y", "ỵ": "y", "ỹ": "y",

				"đ": "d", "Đ": "D",
			};
			var normalize = function( term ) {
				var ret = "";
				for ( var i = 0; i < term.length; i++ ) {
					ret += accentMap[ term.charAt(i) ] || term.charAt(i);
				}
				return ret;
			};

			var limit = 10;
			$( "#searchbox" ).autocomplete({
				source: function( request, response ) {
					var matcher = new RegExp( $.ui.autocomplete.escapeRegex( request.term ), "i" );
					
					var result = $.grep( all_entity, function( value ) {
						value = value.name || value;
						return matcher.test( value ) || matcher.test(normalize(value ));
						}).slice(0, limit); 
					response(result);
					
					/*
					response( $.grep( all_entity, function( value ) {
						value = value.name || value;
						return matcher.test( value ) || matcher.test(normalize(value ));
						}) 
					);
					*/
					
				},
				focus: function( event, ui ) {
					$( "#searchbox" ).val( ui.item.name);
					return false;
				},
				select: function (event, ui) {
					window.location = ui.item.url;
				}
			})
			.autocomplete( "instance" )._renderItem = function( ul, item ) {
				return $( "<li>" )
				.append("<img class='search-suggest-item' src='" + item.profile_pic + "'>"+"<b>" + item.name + "</b><br>" + item.short_info)
				.appendTo( ul );
			};
		});
		</script>
	</head>

	<body>
<div id="fb-root"></div>
<script>(function(d, s, id) {
var js, fjs = d.getElementsByTagName(s)[0];
if (d.getElementById(id)) return;
js = d.createElement(s); js.id = id;
js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.5&appId=1075921342441582";
fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<script type="text/javascript">
  $(document).ready(function(){
    $('.my-share-button').click(function(e){
      e.preventDefault();
      var base_url = window.location.origin;
      var profile_pic_url = base_url + '{{entity_info.profile_pic.url}}';
      console.log(base_url);
         FB.ui(
    {
        method: 'feed',
        name: 'Facebook Dialogs',
        link: base_url,
        picture: 'http://img.f32.vnecdn.net/2016/01/07/1-3553-1452139447_490x294.jpg',
        caption: 'Reference Documentation',
        description: 'Dialogs provide a simple, consistent interface for applications to interface with users.'
     });
    });
  });
</script>
		<div class="navbar navbar-default navbar-fixed-top">
			<div class="container">
				<!---
				<img class="pull-left" style="width:60px" src="{% static 'images/logo.png' %}" />
				-->
				<div class="navbar-header">
					<a class="navbar-brand" href="{% url 'show_index' %}">svBlog</a>
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
        			<span class="sr-only">Toggle navigation</span>
        			<span class="icon-bar"></span>
        			<span class="icon-bar"></span>
        			<span class="icon-bar"></span>
      				</button>
					
				</div>
				
				<!--
				
				-->
				<div class="navbar-collapse collapse" id="navbar-collapse">
					<div class="col-sm-5 col-xs-12 no-padding-side">
					<form class="navbar-form search-form">
						<div class="form-group" style="display:inline;">
							<div class="input-group" style="display:table;">
								<input id="searchbox" class="form-control input-sm search-bar search-bar-ios" name="search" placeholder="Tìm kiếm..." autocomplete="off" type="text">
								<span class="input-group-btn" style="width:1%">
									<button class="btn btn-info btn-sm">&nbsp;<span class="glyphicon glyphicon-search"></span>&nbsp;</button>
								</span>
							</div>
						</div>
						
					</form>
					</div>
					<ul class="nav navbar-nav" >
						<li class="extra-margin-sm">
							<a href="#">Danh sách giáo viên</a>
						</li>
						<li class="extra-margin-sm">
							<a href="{% url "add_info" entity_info.id %}">Thêm thông tin</a>
						</li>
					</ul>
					{% if user.is_authenticated %}
					<ul class="nav navbar-nav navbar-right">
						<li>
							<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
								<img src="{{ user.myuser.profile_icon.url }}" width="20" height="20">
								&nbsp; {{ user.myuser.name}}
								<span class="caret"></span>
							</a>

							<ul class="dropdown-menu">
								<li><a href="{% url 'write_profile' %}">Cá nhân</a></li>
								<li role="separator" class="divider"></li>
								<li><a href="/accounts/logout?next={{ request.path }}">Logout</a></li>
							</ul>
						</li>
						
					</ul>
					{% else %}
					<ul class="nav navbar-nav navbar-right">
						<li>
							<div>
							<a href="{% url 'social:begin' 'facebook' %}?next={{request.path}}" class="btn btn-facebook navbar-btn navbar-btn-left">
								<i class="fa fa-facebook"></i>
								&nbsp;Đăng nhập
							</a>
							</div>
						</li>
						<!--
						<li><div class="navbar-btn"><a href="{% url 'social:begin' 'facebook' %}?next={{request.path}}" class="btn btn-social-icon btn-facebook"><span class="fa fa-facebook"></span></a></div></li>
						-->
					</ul>
					{% endif %}
				</div>
			</div>
		</div>
		<div class="container entity-buffer">
			<div class = "row" id="entity">
				<div class = "col-sm-2 col-xs-4">
					<img class="img-responsive" src="{{MEDIA_URL}}{{entity_info.profile_pic.url}}">
					<p class="div-buffer text-center" style="font-size: 75%">
						<a class="edit-info" href="{% url "edit_info" entity_info.id %}">Thông tin sai?</a>
					</p>
				</div>

				<div class="col-sm-10 hidden-xs">
					<div class="col-sm-7">
						<h3>{{entity_info.name}}</h3>
						<div id = "large-star">
							{% for star in entity_info.score_full|get_range %}
								<i class="fa fa-star fa-2x"></i>
							{% endfor %}
							
							{% for half_star in entity_info.score_half|get_range %}
								<i class="fa fa-star-half-full fa-2x"></i>
							{% endfor %}
							(Theo {{entity_info.review_count}} đánh giá)
						</div>
							
						{% if entity_info.is_teacher %}
							{% for subject in entity_info.subjects.all %}
								<h4>{{subject.name}} </h4>
							{% endfor %}
						{% endif %}
						<h4>{{entity_info.short_info}}</h4>
						
					</div>

					<div class="col-sm-5">
						<div class="tag-button" id="entity-tag">
							{% for each_tag in entity_best_tag %}
								<a href="#" class="btn btn-default btn-info entity-tag">{{each_tag.0}}</a>
							{% endfor %}
						</div>
						
						<div class="div-buffer"></div>
						<div class="col-sm-12 no-padding-side">
							<table class="table-table-striped table-hover col-sm-12 rating-table">
								<tbody>
									{% for each_entity_criteria in entity_criteria %}
									<tr>
										<td class="col-sm-7 no-padding-side">
											<b>{{each_entity_criteria.name}}</b>
										</td>
										<td class="col-sm-5 no-padding-side text-left">
											{% for star in each_entity_criteria.score_full|get_range %}
											<i class="fa fa-star fa-x"></i>
											{% endfor %}

											{% for half-star in each_entity_criteria.score_half|get_range %}
											<i class="fa fa-star-half-full fa-x"></i>
											{% endfor %}
										</td>
									</tr>
									{% endfor %}
									<tr>
										<td>
											<br />
										</td>
									</tr>
									{% for each_entity_optional_criteria in entity_optional_criteria %}
									<tr>
										<td class="col-sm-7 no-padding-side">
											<b>{{each_entity_optional_criteria.name}}</b>
										</td>
										<td class="col-sm-5 no-padding-side text-left">
											{{each_entity_optional_criteria.value}}
											{% if each_entity_optional_criteria.percent > 0 %}
												({{each_entity_optional_criteria.percent}}%)
											{% endif %}
										</td>
									</tr>
									{% endfor %}
								</tbody>
							</table>
						</div>
					</div>
				</div>

				<div class="col-xs-8 visible-xs no-padding-side">
					<h4>{{entity_info.name}}</h4>
					<div id = "large-star">
						{% for star in entity_info.score_full|get_range %}
							<i class="fa fa-star"></i>
						{% endfor %}
						
						{% for half_star in entity_info.score_half|get_range %}
							<i class="fa fa-star-half-full"></i>
						{% endfor %}
						(Theo {{entity_info.review_count}} đánh giá)
					</div>
						
					{% if entity_info.is_teacher %}
						{% for subject in entity_info.subjects.all %}
							<h5>{{subject.name}} </h5>
						{% endfor %}
					{% endif %}
					<h5>{{entity_info.short_info}}</h5>
				</div>
				<div class="col-xs-12 visible-xs">
					<div class="tag-button" id="entity-tag">
						{% for each_tag in entity_best_tag %}
							<a href="#" class="btn-xs btn btn-default btn-info entity-tag">{{each_tag.0}}</a>
						{% endfor %}
					</div>
				</div>	
				<div class="col-xs-12 div-buffer visible-xs"></div>
				<div class="col-xs-12 visible-xs table-responsive">
					<table class="table table-condensed table-striped table-hover col-xs-12 rating-table">
						<tbody>
							{% for each_entity_criteria in entity_criteria %}
							<tr>
								<td class="col-xs-8 no-padding-side rating-table-smaller">
									<b>{{each_entity_criteria.name}}</b>
								</td>
								<td class="col-xs-4 no-padding-side text-left">
									{% for star in each_entity_criteria.score_full|get_range %}
									<i class="fa fa-star fa-x"></i>
									{% endfor %}

									{% for half-star in each_entity_criteria.score_half|get_range %}
									<i class="fa fa-star-half-full fa-x"></i>
									{% endfor %}
								</td>
							</tr>
							{% endfor %}

							{% for each_entity_optional_criteria in entity_optional_criteria %}
							<tr>
								<td class="col-xs-8 no-padding-side rating-table-smaller">
									<b>{{each_entity_optional_criteria.name}}</b>
								</td>
								<td class="col-xs-4 no-padding-side ">
									<small>
									{{each_entity_optional_criteria.value}}
									{% if each_entity_optional_criteria.percent > 0 %}
										({{each_entity_optional_criteria.percent}}%)
									{% endif %}
								</small>
								</td>
							</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
			</div>

			{% if not user.is_authenticated %}
			<div class = "row div-buffer">
				<div class="col-md-4 col-xs-12">
					<div class="well clearfix">
						<div class="visible-xs">
							<div class="col-xs-9">
							Đăng nhập để đánh giá! (có thể ẩn danh)
							</div>
							<div class="col-xs-3">
							<a href="#" class="pull-right btn btn-success btn-sm">Login</a>
							</div>
						</div>
						<div class="hidden-xs">
						Đăng nhập để đánh giá! (có thể ẩn danh)
						<a href="#" class="btn btn-success btn-sm">Login</a>
						</div>
					</div>
				</div>
			</div>
			{% else %}
				{% if have_own_review %}
					<div class = "row div-buffer">
						<div class="col-md-4">
							<div class="well clearfix">
								<div class="hidden-xs">
									<i class="fa fa-check fa-2x"></i>
									Bạn đã viết đánh giá !!
									<a class="pull-right btn btn-success own-review ">Xem tại đây</a>
								</div>
								<div class="visible-xs">
									<div class="col-xs-8">
									Bạn đã viết đánh giá !!
									</div>
									<div class="col-xs-4">
									<a href="#" class="pull-right btn btn-success btn-sm">Xem tại đây</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				{% else %}
					<div class = "row div-buffer">
						<div class="col-md-4">
							<div class="well clearfix">
								<i class="fa fa-pencil fa-2x"></i>
								<div class="hidden-xs">
								Bạn đã viết đánh giá chưa?
								<a href="{% url 'write_review' entity_info.id %}" class="pull-right btn btn-success own-review">Viết luôn!</a>
								</div>
								<div class="visible-xs">
									<div class="col-xs-8">
									Bạn đã viết đánh giá chưa?
									</div>
									<div class="col-xs-4">
										<a href="{% url 'write_review' entity_info.id %}" class="pull-right btn btn-success own-review">Viết luôn!</a>
									</div>
								</div>
							
							</div>
						</div>
					</div>
				{% endif %}
			{% endif %}

			<div class="row div-buffer">
				<div class="col-md-10 col-xs-12">
					<h3 class="review-section-title">
						Đánh giá ({{review_list|length}})
					</h3>
				</div>
			</div>
			{% for each_review in review_list %}
			<div class="row hidden-xs">
				<div class="col-md-10 col-xs-12">
					<div class="panel panel-primary review-box" >
						<div class="panel-heading">
							<h6 class="panel-title" review-id-info="{{each_review.id}}">
									
							</h6>
						</div>
						<div class="panel-body">
							<div class = "col-md-3 no-padding-side">
								{% if each_review.is_anonymous %}
								<div class="col-md-12 no-padding-side">
									<h4>Vô danh</h4>
								</div>
								<div class="col-md-6 no-padding-side">
									<img class="img-responsive" src="{% static 'images/default_user_image.jpg' %}">
								</div>
								<div class="col-md-12 no-padding-side">
									<div>
										<h5>Biệt đội tàng hình</h5>
									</div>
								</div>
								{% elif each_review.is_fake %}
								<div class="col-md-12 no-padding-side">
									<h4>{{each_review.hidden_name}}</h4>
								</div>
								<div class="col-md-6 no-padding-side">
									<img class="img-responsive" src="{{each_review.hidden_profile.url}}">
								</div>
								<div class="col-md-12 no-padding-side">
									<div>
										<h5>{{each_review.hidden_bio}}</h5>
									</div>
								</div>
								{% else %}
								<div class="col-md-12 no-padding-side">
									<h4>{{each_review.author.name}}</h4>
								</div>
								<div class="col-md-6 no-padding-side">
									<img class="img-responsive" src="{{each_review.author.profile_pic.url}}">
								</div>
								<div class="col-md-12 no-padding-side">
									<div>
										<h5>{{each_review.author.short_bio}}</h5>
									</div>
								</div>
								{% endif %}
							</div>

							{% if entity_info.is_teacher %}
							<div class = "col-md-6">
								<div class="review-content">
								<p class="small"><b>Môn dạy: {{each_review.subject}}</b> (Viết ngày: {{each_review.date_written|date:"d/m/Y"}})</p>
								{% if each_review.content_study %}
								<b>&lt;Về môn học &amp; thi cử&gt;</b>
								<br>
								{{each_review.content_study|safe|linebreaks}}
								{% endif %}

								{% if each_review.content_study %}
								<b>&lt;Về giáo viên&gt;</b>
								<br>
								{{each_review.content_teacher|safe|linebreaks}}
								{% endif %}
								</div>
							</div>
							{% endif %}
							<div class = "col-md-3 no-padding-side">
								<div>
									{% for each_tag in each_review.tag_list %}
									<a href="#" class="btn btn-default btn-info entity-tag btn-xs">{{each_tag}}</a>
									{% endfor %}
								</div>
								<div class="col-md-12 div-buffer no-padding-side" style="font-size:0.87em; margin-bottom: 0.25em">
									<div class="col-md-8 no-padding-side">
										<b>Tổng thể</b>
									</div>
									<div class="col-md-4 no-padding-side">
										{% for star in each_review.score_full|get_range %}
										<i class="fa fa-star fa-x"></i>
										{% endfor %}

										{% for half_star in each_review.score_half|get_range %}
											<i class="fa fa-star-half-full fa-x"></i>
										{% endfor %}
									</div>
								</div>
								<div class="div-buffer">
									<table class="table-striped table-hover col-md-12 rating-table-review">
									<tbody>
										{% for each_rating in each_review.rating %}
										<tr>
											<td class="col-md-8 no-padding-side">
												<b>{{each_rating.name}}</b>
											</td>
											<td class="col-md-4 no-padding-side text-left">
												{% for star in each_rating.score_full|get_range %}
												<i class="fa fa-star fa-x"></i>
												{% endfor %}

												{% for half_star in each_rating.score_half|get_range %}
												<i class="fa fa-star-half-full fa-x"></i>
												{% endfor %}
											</td>
										</tr>
										{% endfor %}
										<tr>
											<td>
												<br />
											</td>
										</tr>
										{% for each_rating in each_review.optional_rating %}
										<tr>
											<td class="col-md-8 no-padding-side">
												<b>{{each_rating.name}}</b>
											</td>
											<td class="col-md-4 no-padding-side text-left">
												{{each_rating.value}}</b>
											</td>
										</tr>
										{% endfor %}
									</tbody>
									</table>
								</div>
							</div>
							
							<div class="col-md-12 div-buffer"></div>
							
							<div class="col-md-6 col-md-offset-3">
								<span class="">
								{% if each_review.have_own_vote %}
								<div class="btn-group btn-group-margin-right">
									<button type="button" review-id="{{each_review.id}}" class="btn-secondary vote-btn btn-smaller-border btn btn-pink btn-sm">
									<i class="fa fa-heart"></i>
									Hữu ích
									</button>
									<button type="button" review-total-id="{{each_review.id}}" class="btn-left-border btn-secondary btn-smaller-border vote-btn btn btn-pink btn-sm">
									{{each_review.vote_total}}
									</button>
									</button>	
								</div>
								{% else %}
								<div class="btn-group btn-group-margin-right">
									<button type="button" review-id="{{each_review.id}}" class="btn-secondary vote-btn btn btn-default-my btn-smaller-border btn-sm">
									<i class="fa fa-heart"></i>
									Hữu ích
									</button>
									<button type="button" review-total-id="{{each_review.id}}" class="btn-secondary vote-btn btn btn-smaller-border btn-default-my btn-sm">
									{{each_review.vote_total}}
									</button>
								</div>
								{% endif %}

								</span>
								<button title="Share on Facebook" class="my-share-button btn btn-smaller-border btn-facebook btn-sm">
									<i class="fa fa-facebook"></i> Chia sẻ
								</button>

							</div>
							
							
							{% if each_review.id == own_review_id %}
							<div class="col-md-3 no-padding-side">
								<span class="pull-right">
									<span class="fa-stack fa-lg">
									  <a href="{% url 'write_review' entity_info.id %}">
									  <i class="fa fa-circle fa-stack-2x"></i>
									  <i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
									</a>
									</span>

									<span class="fa-stack fa-lg clickable" id="delete-review">
									  <i class="fa fa-circle fa-stack-2x text-danger"></i>
									  <i class="fa fa-trash-o fa-stack-1x fa-inverse"></i>
									</span>
								</span>
							</div>
							{% endif %}
						</div>

						<div id="review{{each_review.id}}"></div>
					</div>
				</div>
			</div>

			<div class="row visible-xs">
				<div class="col-xs-12">
					<div class="panel panel-primary review-box" >
						<div class="panel-heading">
							<h6 class="panel-title" review-id-info="{{each_review.id}}"></h6>
						</div>
						<div class="panel-body no-padding-side" style="padding-top:5px">
							{% if entity_info.is_teacher %}
							<div class="col-xs-12">
								<p class="small"><b>Môn dạy: {{each_review.subject}}</b> 
									<br />
								<small>(Viết ngày: {{each_review.date_written|date:"d/m/Y"}})</small>
								</p>
							</div>
							{% endif %}
							<div class = "col-xs-12">
								{% if each_review.is_anonymous %}
								<div class="col-xs-3 no-padding-side">
									<img class="img-responsive" src="{% static 'images/default_user_image.jpg' %}">
								</div>
								<div class="col-xs-9">
									<h4>Vô danh</h4>
									<h5>Biệt đội tàng hình</h5>
								</div>
								{% elif each_review.is_fake %}
								<div class="col-xs-3 no-padding-side">
									<img class="img-responsive" src="{{each_review.hidden_profile.url}}">
								</div>
								<div class="col-xs-9">
									<h4>{{each_review.hidden_name}}</h4>
									<h5>{{each_review.hidden_bio}}</h5>
								</div>
								{% else %}
								<div class="col-xs-3 no-padding-side">
									<img class="img-responsive" src="{{each_review.author.profile_pic.url}}">
								</div>
								<div class="col-xs-9">
									<h4>{{each_review.author.name}}</h4>
									<h6>{{each_review.author.short_bio}}</h6>
								</div>
								
								{% endif %}
							</div>
							<div class="col-xs-12 div-buffer"></div>
							<div class="col-xs-12">
								<div class="col-xs-8 no-padding-side">
								<a class="accordion-toggle" data-toggle="collapse" href="#collapse-{{each_review.id}}">
								<i class="indicator glyphicon glyphicon-chevron-right"></i><b>&nbsp;Tổng thể </b> 
								</a>
							</div>
							<div class="col-xs-4 no-padding-side">
								{% for star in each_review.score_full|get_range %}
									<i class="fa fa-star fa-x"></i>
								{% endfor %}

								{% for half_star in each_review.score_half|get_range %}
									<i class="fa fa-star-half-full fa-x"></i>
								{% endfor %}
							</div>
								<div id="collapse-{{each_review.id}}" class="collapse">
									<table class="table-condensed table-striped table-hover col-xs-12 rating-table-review">
									<tbody>
										{% for each_rating in each_review.rating %}
										<tr>
											<td class="col-xs-8 no-padding-side">
												<b>{{each_rating.name}}</b>
											</td>
											<td class="col-xs-4 no-padding-side text-left">
												{% for star in each_rating.score_full|get_range %}
												<i class="fa fa-star fa-x"></i>
												{% endfor %}

												{% for half_star in each_rating.score_half|get_range %}
												<i class="fa fa-star-half-full fa-x"></i>
												{% endfor %}
											</td>
										</tr>
										{% endfor %}

										{% for each_rating in each_review.optional_rating %}
										<tr>
											<td class="col-xs-8 no-padding-side">
												<b>{{each_rating.name}}</b>
											</td>
											<td class="col-xs-4 no-padding-side">
												<b>{{each_rating.value}}</b>
											</td>
										</tr>
										{% endfor %}
									</tbody>
									</table>
								</div>
								<div class="col-xs-12 div-buffer"></div>
							</div>
							
							{% if entity_info.is_teacher %}
							<div class = "col-xs-12">
								<div class="review-content">
								{% if each_review.content_study %}
								<b>&lt;Về môn học &amp; thi cử&gt;</b>
								<br>
								{{each_review.content_study|safe|linebreaks}}
								{% endif %}

								{% if each_review.content_study %}
								<b>&lt;Về giáo viên&gt;</b>
								<br>
								{{each_review.content_teacher|safe|linebreaks}}
								{% endif %}
								</div>
							</div>
							{% endif %}
							<div class = "col-xs-12">
								<div>
									{% for each_tag in each_review.tag_list %}
									<a href="#" class="btn btn-default btn-info entity-tag btn-xs">{{each_tag}}</a>
									{% endfor %}
								</div>
							</div>
							
							<div class="col-xs-12 div-buffer"></div>
							
							<div class="col-xs-12">
								<span class="">
								{% if each_review.have_own_vote %}
								<div class="btn-group btn-group-margin-right">
									<button type="button" review-id="{{each_review.id}}" class="btn-secondary vote-btn btn-smaller-border btn btn-pink btn-sm">
									<i class="fa fa-heart"></i>
									Hữu ích
									</button>
									<button type="button" review-total-id="{{each_review.id}}" class="btn-left-border btn-secondary btn-smaller-border vote-btn btn btn-pink btn-sm">
									{{each_review.vote_total}}
									</button>
									</button>	
								</div>
								{% else %}
								<div class="btn-group btn-group-margin-right">
									<button type="button" review-id="{{each_review.id}}" class="btn-secondary vote-btn btn btn-default-my btn-smaller-border btn-sm">
									<i class="fa fa-heart"></i>
									Hữu ích
									</button>
									<button type="button" review-total-id="{{each_review.id}}" class="btn-secondary vote-btn btn btn-smaller-border btn-default-my btn-sm">
									{{each_review.vote_total}}
									</button>
									</button>	
								</div>
								{% endif %}

								</span>
							<button title="Share on Facebook" class="my-share-button btn btn-smaller-border btn-facebook btn-sm"><i class="fa fa-facebook"></i> Chia sẻ</button>
							</div>
							
							{% if each_review.id == own_review_id %}
							<div class="col-xs-12 div-buffer">
								<span class="pull-right">
									<span class="fa-stack">
									  <a href="{% url 'write_review' entity_info.id %}">
									  <i class="fa fa-circle fa-stack-2x"></i>
									  <i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
									</a>
									</span>

									<span class="fa-stack clickable" id="delete-review">
									  <i class="fa fa-circle fa-stack-2x text-danger"></i>
									  <i class="fa fa-trash-o fa-stack-1x fa-inverse"></i>
									</span>
								</span>
							</div>
							{% endif %}
						</div>

						<div id="review{{each_review.id}}"></div>
					</div>
				</div>
			</div>
			{% endfor %}
		</div>



		

	</body>
</html>