{% load staticfiles %}
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
		<script src="http://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
		<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

		<link rel="stylesheet" href="https://bootswatch.com/flatly/bootstrap.min.css">
		<link rel="stylesheet" href="{% static "jquery-ui.css" %}">
		<link rel="stylesheet" href="{% static "my.css" %}">
		<link rel="stylesheet" href="{% static "style.css" %}">
		<script>
		$(function() {
			//var names = [ "Nguyễn Khắc Tùng", "Trương Tuấn Dũng", "Tô Ngọc Vân", "Ngô Quý Nhâm", "Trần Thị Kiều Minh" ];
 			var all_entity_raw = {{all_entity|safe}};
			console.log(all_entity_raw);
			var all_entity = [];
			for (var i = 0; i < all_entity_raw.length; i++)
			{
				console.log(all_entity_raw[i]);
				all_entity.push(JSON.parse(all_entity_raw[i]));
			}
			console.log(all_entity[0].name);
			console.log(all_entity[0].profile_pic);
			console.log(all_entity[0].short_info);

			var names = [{
							"name": "nguyen khac tung",
							"short_bio": "asdasd"
						}, {
							"name": "nguyen khac tung1",
							"short_bio": "random"
						}];
			console.log(names[0].name);
			var accentMap = {
				"á": "a", "ả": "a", "à": "a", "ạ": "a", "ã": "a", "ă" : "a", "â": "a",
				"ắ": "a", "ẳ": "a", "ằ": "a", "ặ": "a", "ẵ": "a",
				"ấ": "a", "ẩ": "a", "ầ": "a", "ậ": "a", "ẫ": "a",

				"é": "e", "ẻ": "e", "è": "e", "ẹ": "e", "ẽ": "e", "ê" : "e",
				"ế": "e", "ể": "e", "ề": "e", "ệ": "e", "ễ": "e",

				"í": "i", "ỉ": "i", "ì": "i", "ị": "i", "ĩ": "i",

				"ó": "o", "ỏ": "o", "ò": "o", "ọ": "o", "õ": "o", "ô": "o", "ơ": "o",
				"ố": "o", "ổ": "o", "ồ": "o", "ộ": "o", "ỗ": "o",
				"ớ": "o", "ở": "o", "ờ": "o", "ợ": "o", "ỡ": "o",

				"ú": "u", "ủ": "u", "ù": "u", "ụ": "u", "ũ": "u", "ư": "u",
				"ứ": "u", "ử": "u", "ừ": "u", "ự": "u", "ữ": "u",

				"ý": "y", "ỷ": "y", "ỳ": "y", "ỵ": "y", "ỹ": "y",

				"đ": "d"
			};
			var normalize = function( term ) {
				var ret = "";
				for ( var i = 0; i < term.length; i++ ) {
					ret += accentMap[ term.charAt(i) ] || term.charAt(i);
				}
				return ret;
			};

			$( "#searchbox" ).autocomplete({
				source: function( request, response ) {
					var matcher = new RegExp( $.ui.autocomplete.escapeRegex( request.term ), "i" );
					response( $.grep( all_entity, function( value ) {
						value = value.name || value;
						console.log(request.term, value, matcher.test( value ) || matcher.test(normalize(value )));
						return matcher.test( value ) || matcher.test(normalize(value ));
						}) 
					);
				},
				focus: function( event, ui ) {
					$( "#searchbox" ).val( ui.item.name);
					return false;
				},
				select: function (event, ui) {
					window.location = ui.item.url;
				}
			})
			.autocomplete( "instance" )._renderItem = function( ul, item ) {
				return $( "<li>" )
				.append("<img class='search-suggest-item' src='" + item.profile_pic + "'>"+"<b>" + item.name + "</b><br>" + item.short_info)
				.appendTo( ul );
			};
		});
		</script>
	</head>

	<body>
		<div class="navbar navbar-default navbar-fixed-top">
			<div class="container">
				<div class="navbar-header">
					<a class="navbar-brand" href="#">svBlog - Teacher/University Rating Website</a>
				</div>

				<div class="navbar-collapse collapse">
					<ul class="nav navbar-nav">
						<li>
							&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
						</li>

						<li>
							<a href="#">List teacher</a>
						</li>
						<li>
							<a href="#">List university</a>
						</li>
					</ul>
					{% if user.is_authenticated %}
					<ul class="nav navbar-nav navbar-right">
						<li>
							<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
								<img src="{{ user.myuser.profile_pic.url }}" width="20" height="20">
								&nbsp; {{ user.myuser.name}}
								<span class="caret"></span>
							</a>

							<ul class="dropdown-menu">
								<li><a href="#">Action 1</a></li>
								<li><a href="#">Action 2</a></li>
								<li role="separator" class="divider"></li>
								<li><a href="/accounts/logout">Logout</a></li>
							</ul>
						</li>
						
					</ul>
					{% else %}
					<ul class="nav navbar-nav navbar-right">
						<li><a href="{% url 'register' %}"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
						<li><a href="{% url 'login' %}"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
					</ul>
					{% endif %}
				</div>
			</div>
		</div>
		<div class="container row-buffer">
			<div class="page-header ">
			</div>
			<div class="row">
				<div class="col-md-12 text-center">
					<img src="{% static "logo.jpg" %}" width="30%">
				</div>
			</div>

			<div class="row">
				<div class="col-sm-6 col-sm-offset-3">
					<div id="imaginary_container">
						<!--
						<div class="ui-widget input-group stylish-input-group form-group ">
							
							<input id="searchbox" type="text" class="form-control"  placeholder="Search" >
							<span class="input-group-addon">
								<button type="submit">
									<span class="glyphicon glyphicon-search"></span>
								</button>  
							</span>
							
						</div>
						-->
						<form class="">
        <div class="input-group">
            <input id="searchbox" type="text" class="form-control search-query" placeholder="Search..." /> 
            <span class="input-group-btn">
            	<button type="submit" class="btn btn-primary">&nbsp;<span class="glyphicon glyphicon-search"></span>&nbsp;</button>
            </span>

        </div>
    </form>
					</div>
				</div>
			</div>
		</div>

		<section class="success row-buffer">
			<div class="container">
				<div class="row ">
					<div class="col-md-12 text-center">
						<h2>About</h2>

					</div>
				</div>
				<div class="col-md-4 col-md-offset-2">
					<p>
						Introduction Introduction Introduction Introduction Introduction Introduction Introduction Introduction Introduction Introduction Introduction Introduction 
					</p>
				</div>
				<div class="col-md-4">
					<p>
						Introduction Introduction Introduction Introduction Introduction Introduction Introduction Introduction Introduction Introduction Introduction Introduction 
					</p>
				</div>
			</div>
		</section>

		<section id="feature">
			<div class="container">
				<div class="row">
					<div class="col-md-12 text-center">
						<h2>Featured Teacher/University</h2>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6">
						<div class="col-md-3">
							<img class="img-responsive" src="face.jpg">
						</div>
						<div class="col-md-9">
							<h4>Thầy Trương Tuấn Dũng</h4>
							<div>
								<span class="glyphicon glyphicon-star"></span>
								<span class="glyphicon glyphicon-star"></span>
								<span class="glyphicon glyphicon-star"></span>
								<span class="glyphicon glyphicon-star"></span>
								<span class="glyphicon glyphicon-star-empty"></span>

							</div>
							<div>
								<span class="glyphicon glyphicon-user"></span>1,000 reviews
							</div>
							<div class="tag-button">
								<a href="#" class="btn btn-primary btn-xs">Mặt Ngu</a>
								<a href="#" class="btn btn-primary btn-xs">Nói lắm</a>
							</div>
						</div>
					</div>
					<div class="col-md-6">
						<div class="col-md-3">
							<img class="img-responsive" src="ftu.jpg">
						</div>
						<div class="col-md-9">
						
							<h4>Đại học Ngoại Thương FTU</h4>
							<div>
								<span class="glyphicon glyphicon-star"></span>
								<span class="glyphicon glyphicon-star"></span>
								<span class="glyphicon glyphicon-star"></span>
								<span class="glyphicon glyphicon-star"></span>
								<span class="glyphicon glyphicon-star-empty"></span>

							</div>
							<div>
								<span class="glyphicon glyphicon-user"></span>1,000 reviews
							</div>
							<div class="tag-button">
								<a href="#" class="btn btn-primary btn-xs">Chất lượng giảng dạy</a>
								<a href="#" class="btn btn-primary btn-xs">Cơ hội việc làm</a>
							</div>
						</div>
					</div>

			
				</div>
			</div>
		</section>

	</body>
</html>