{% load star_range %}
{% load staticfiles %}
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="https://bootswatch.com/flatly/bootstrap.min.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
		<link href="{% static "bootstrap-rating.css" %}" rel="stylesheet">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
		<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
		<script type="text/javascript" src="{% static "bootstrap-rating.min.js" %}"></script>
		<link rel="stylesheet" href="{% static "write-review.css" %}">
		<script src="{% static "write-review.js" %}"></script>
		<script>
			$(function () {
				{% if rating1 %}
					$('input[name="rating1"]').rating('rate', {{rating1}});
				{% endif %}
				{% if rating2 %}
					$('input[name="rating2"]').rating('rate', {{rating2}});
				{% endif %}
				{% if rating3 %}
					$('input[name="rating3"]').rating('rate', {{rating3}});
				{% endif %}
				{% if rating4 %}
					$('input[name="rating4"]').rating('rate', {{rating4}});
				{% endif %}
				{% if rating5 %}
					$('input[name="rating5"]').rating('rate', {{rating5}});
				{% endif %}

				{% for tag in selected_tag_list %}
					$('[name={{tag}}]').attr('checked', 'checked');
					$('[name={{tag}}]').parent().addClass('active');
				{% endfor %}
			});
		</script>
	</head>

	<body>
		<div class="navbar navbar-default navbar-fixed-top">
			<div class="container">
				<div class="navbar-header">
					<a class="navbar-brand" href="#">svBlog - Teacher/University Rating Website</a>
				</div>

				<div class="navbar-collapse collapse">
					<ul class="nav navbar-nav">
						<li>
							&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
						</li>

						<li>
							<a href="#">List teacher</a>
						</li>
						<li>
							<a href="#">List university</a>
						</li>
					</ul>
					{% if user.is_authenticated %}
					<ul class="nav navbar-nav navbar-right">
						<li>
							<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
								<img src="{{ user.myuser.profile_pic.url }}" width="20" height="20">
								&nbsp; {{ user.myuser.name}}
								<span class="caret"></span>
							</a>

							<ul class="dropdown-menu">
								<li><a href="#">Action 1</a></li>
								<li><a href="#">Action 2</a></li>
								<li role="separator" class="divider"></li>
								<li><a href="/accounts/logout">Logout</a></li>
							</ul>
						</li>
						
					</ul>
					{% endif %}
				</div>
			</div>
		</div>
		<div class="container entity-buffer">
			<form action="" method="post">
			{% csrf_token %}
			<div class = "row">
				<div class = "col-md-6 col-md-offset-1">
					<h3>Write review for {{entity_info.name}}</h3>
				</div>
			</div>
			<div class = "row">
				<div class = "col-md-6 col-md-offset-1">
					<div class = "form-group">
						<label for="review-title">Title</label>
						<input name="title" type="text" class="form-control" id="review-title" placeholder="Title" value="{{title}}">
						<span class="{% if error.title %}text-danger{% endif %} help-block">Title cannot be empty</span>
					</div>
					
					<div class = "form-group">
						<label for="review-content">Content</label>
						<span tabindex="0" class="pull-right glyphicon glyphicon-question-sign" role="button" data-toggle="popover" data-html="true" aria-hidden="true" title="Gợi ý cách viết" data-content="Pointer 1<br>Pointer 2">
							</span>
						<textarea name="content" class="form-control" rows="10" id="review-content">{{content}}</textarea>
						<span class="{% if error.content %}text-danger{% endif %} help-block">Content at least 100 characters</span>
					</div>
				</div>
				<div class = "col-md-5">
					<div class="col-md-12">
						<table class="table-table-striped table-hover col-md-12 rating-table-write">
							<tbody>
								{% for criteria in criteria_list %}
								<tr>
									<td class="{% if error.rating %}text-danger{% endif %} no-padding-side col-md-6">
										<b>{{criteria.name}}</b>
									</td>
									<td class="col-md-6 text-left">
										<input type="hidden" name="rating{{criteria.id}}" class="rating-tooltip" data-filled="fa fa-star fa-x" data-empty="fa fa-star-o fa-x"/>
									</td>
								</tr>
								{% endfor %}
							</tbody>
						</table>
					</div>

					<div class = "{% if error.tag %}text-danger{% endif %} col-md-12 row-buffer">
						<b>Choose 3-5 tags that describes teacher/uni</b>
					</div>
					<div class = "col-md-12 ">
						<div class="btn-group" data-toggle="buttons">
						{% for tag in tag_list %}
						  <label class="btn btn-default-my tag-btn">
							<input name="tag{{tag.id}}" id="tag{{tag.id}}" tag-id="{{tag.id}}" type="checkbox" autocomplete="off">{{tag.tag_name}}
						  </label>
						{% endfor %}
						</div>
					</div>
				</div>
			</div>
			<div class = "row">
				<div class = "col-md-7 ">
					<button type="submit" class="btn btn-success pull-right">Submit</button>
				</div>
			</div>
			</form>
		</div>



		

	</body>
</html>